version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: apt-get -y update
      - run: apt-get -y install jq
      - run: wget https://api.github.com/repos/gohugoio/hugo/releases/latest -O - run: | jq -r '.assets[] | select(.name | index("Linux-64bit.tar.gz")) | .browser_download_url' | wget -i -
      - run: tar -xzf hugo_extended*.tar.gz --directory /usr/bin
      - run: chmod +x /usr/bin/hugo
      - run: yarn webpack --mode production
      - run: hugo