version: 2
jobs:
  build:
    branches:
      only: master

    working_directory: ~/repo

    docker:
      - image: circleci/node:lts

    environment:
      - GH_EMAIL: ci@jonjaques.com
      - GH_USER: CI Bot
      - SOURCE_BRANCH: master
      - TARGET_BRANCH: gh-pages

    steps:
      - run:
          name: Install hugo
          command: |
            sudo apt-get -y update
            sudo apt-get -y install jq
            wget https://api.github.com/repos/gohugoio/hugo/releases/latest -O - | jq -r '.assets[] | select(.name | index("Linux-64bit.tar.gz")) | .browser_download_url' | wget -i -
            sudo tar -z -f hugo_extended*.tar.gz --directory /usr/bin -x hugo
            sudo chmod +x /usr/bin/hugo
            rm -rf hugo*

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run:
          name: Install app dependencies
          command: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Build site
          command: |
            yarn webpack --mode production
            hugo

      - run:
          name: Deploy
          command: |
            if [ $CIRCLE_BRANCH == $SOURCE_BRANCH ]; then
              git config --global user.email $GH_EMAIL
              git config --global user.name $GH_USER

              git clone $CIRCLE_REPOSITORY_URL out

              cd out
              git checkout $TARGET_BRANCH || git checkout --orphan $TARGET_BRANCH
              git rm -rf .
              cd ..

              cp -a build/. out/.

              mkdir -p out/.circleci && cp -a .circleci/. out/.circleci/.
              cd out

              git add -A
              git commit -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" --allow-empty

              git push origin $TARGET_BRANCH
            fi